.note-editor.note-frame.card {
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    margin-bottom: 0 !important;
}

.card-header.note-toolbar {
    background-color: #fff;
}
